name: SchemaSpy

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo POSTGRES_USER=myuser >> .env
          echo POSTGRES_PASSWORD=mypassword >> .env
          echo POSTGRES_DB=paidiver_st3 >> .env
          echo POSTGRES_HOST=localhost >> .env
          echo POSTGRES_PORT=5432 >> .env

      - name: Create paidiver_st3_network network
        run: docker network create paidiver_st3_network || echo "Network already exists"

      - name: Start stack
        run: docker compose -f dockerfiles/docker-compose.yml up -d

      - name: Wait for Postgres
        run: |
          for i in {1..60}; do
            docker compose -f dockerfiles/docker-compose.yml exec -T db pg_isready -U "myuser" && exit 0
            sleep 2
          done
          exit 1

      - name: Run migrations
        run: docker compose -f dockerfiles/docker-compose.yml run --rm api poetry run alembic upgrade head

      - name: Generate SchemaSpy docs (docker image)
        run: |
          mkdir -p docs

          curl -L https://jdbc.postgresql.org/download/postgresql-42.5.4.jar -o jdbc-driver.jar

          docker run --rm \
            --network="paidiver_st3_network" \
            -v "${PWD}/docs:/output" \
            -v "${PWD}/jdbc-driver.jar:/drivers/jdbc-driver.jar" \
            schemaspy/schemaspy:latest \
            -t pgsql11 \
            -dp /drivers/jdbc-driver.jar \
            -db paidiver_st3 \
            -host db \
            -port 5432 \
            -u "myuser" \
            -p "mypassword"
